<h2>Users</h2>
<ng-container *ngIf="users; else nousers">
    <table id="userTable">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>How hear?</th>
            <th>Ministry</th>
            <th>Greek</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>({{user.howhear}}) {{user.howhearOther}}</td>
            <td>{{user.ministryOther}}</td>
            <td>{{user.greekOther}}</td>
        </tr>
    </table>
</ng-container>
<ng-template #nousers>
    Loading users...
</ng-template>
