<div class="container">
    <h1>Register Form</h1>
    <form>
        <!-- First Name -->
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname">
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname">
        </div>

        <!-- Email Name -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber">
        </div>

        <!-- How did you hear about 247 -->
        <div class="form-group">
            <label for="howhear">How did you hear about 247?</label>
            <select class="form-control" id="howhear" (change)="onHowHearChange($event.target.selectedIndex)">
                <option *ngFor="let idx of getIndexes(hearOpts)" [selected]="idx === 0">{{hearOpts[idx]}}</option>
                <option>Other</option>
            </select>
            <ng-container *ngIf="showHearOther">
                <br>
                <input type="text" class="form-control">
            </ng-container>
        </div>

        <!-- Greek involvement -->
        <div class="form-group">
            <label for="greekselect">Greek Involvement</label>
            <select class="form-control" id="greekselect">
                <option></option>
            </select>
        </div>

        <!-- Ministry Involvement -->
        <div class="form-group">
            <label for="involvement">Involvement</label>
            <div id="involvement" class="form-control multiselect">
                <div class="opt"
                     *ngFor="let idx of getIndexes(involveOpts)"
                     (click)="toggleOpt(idx)"
                     [class.selected]="involveOpts[idx].selected">
                    {{involveOpts[idx].text}}
                </div>
            </div>
        </div>

        <input type="submit" value="Register" class="btn btn-success"/>
    </form>
</div>
