<div class="container">
    <h1>Register Form</h1>
    <form (submit)="onSubmit()">
        <!-- First Name -->
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstName" [(ngModel)]="regForm.firstName">
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastName" [(ngModel)]="regForm.lastName">
        </div>

        <!-- Email Name -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="regForm.email">
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phone" [(ngModel)]="regForm.phone">
        </div>

        <!-- How did you hear about 247 -->
        <div class="form-group">
            <label for="howhear">How did you hear about 247?</label>
            <select class="form-control" id="howhear" name="howhear"
                    (change)="onDropdownChange($event.target.selectedIndex, 'hearOpts')"
                    [(ngModel)]="regForm.howhear">
                <option *ngFor="let idx of getIndexes(regSettings.hearOpts)"
                        [selected]="idx === 0"
                        [value]="regSettings.hearOpts[idx].id">{{regSettings.hearOpts[idx].name}}</option>
                <option value="-1">Other</option>
            </select>
            <ng-container *ngIf="showOther.hearOpts">
                <br>
                <input type="text" class="form-control" name="howhearOther" [(ngModel)]="regForm.howhearOther">
            </ng-container>
        </div>

        <!-- Greek involvement -->
        <div class="form-group">
            <label for="greekselect">Greek Involvement</label>
            <select class="form-control" id="greekselect" name="greek"
                    (change)="onDropdownChange($event.target.selectedIndex, 'greekOpts')"
                    [(ngModel)]="regForm.greek">
                <option *ngFor="let idx of getIndexes(regSettings.greekOpts)"
                        [selected]="idx === 0"
                        [value]="regSettings.greekOpts[idx].id">{{regSettings.greekOpts[idx].name}}</option>
                <option value="-1">Other</option>
            </select>
            <ng-container *ngIf="showOther.greekOpts">
                <br>
                <input type="text" class="form-control" name="greekOther" [(ngModel)]="regForm.greekOther">
            </ng-container>
        </div>

        <!-- Ministry Involvement -->
        <div class="form-group">
            <label for="ministry">Ministry</label>
            <select class="form-control" id="ministry" name="ministry"
                    (change)="onDropdownChange($event.target.selectedIndex, 'ministryOpts')"
                    [(ngModel)]="regForm.ministry">
                <option *ngFor="let idx of getIndexes(regSettings.ministryOpts)"
                        [selected]="idx === 0"
                        [value]="regSettings.ministryOpts[idx].id">{{regSettings.ministryOpts[idx].name}}</option>
                <option value="-1">Other</option>
            </select>
            <ng-container *ngIf="showOther.ministryOpts">
                <br>
                <input type="text" class="form-control" name="ministryOther" [(ngModel)]="regForm.ministryOther">
            </ng-container>
        </div>

        <input type="submit" value="Register" class="btn btn-success"/>
    </form>
</div>
