<h2>Gatherings</h2>
<ng-container *ngIf="gatherings; else nogatherings">
    <table id="gatheringTable">
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>People Who Attended</th>
            <th>Songs</th>
        </tr>
        <tr *ngFor="let gathering of gatherings; index as gi">
            <td>{{gathering.id}}</td>
            <td>{{minsToStr(gathering.time)}}</td>
            <td>
                <ng-container *ngIf="users">
                    <span *ngFor="let uid of gathering.users">
                        {{users[uid].firstName}} {{users[uid].lastName}};
                    </span>
                </ng-container>
            </td>
            <td>
                <div *ngFor="let song of gathering.songs; index as i">
                    {{i + 1}}) {{song.title}}
                </div>
                <ng-container *ngIf="gi == gatherings.length - 1">
                    <button (click)="editingSongs = true">Edit Songs</button>
                </ng-container>
            </td>
        </tr>
    </table>
    <br>
    <button (click)="newGathering()">New Gathering</button>
</ng-container>
<ng-template #nogatherings>
    Loading gatherings...
</ng-template>

<!-- Editing songs -->
<div id="editSongs" *ngIf="editingSongs">
    <admin-song-select (finished)="editingSongs = false"></admin-song-select>
</div>
