<div id="headtext">
    Welcome to 247!
</div>

<div id="checkin">
    <span class="text">Check In</span><br>
    <input [(ngModel)]="checkInQuery" type="text" placeholder="Your Name" (keydown)="checkInTick()"/><br>

    <!-- Search loading -->
    <ng-container *ngIf="userList === null && checkInQuery.length > 0; else havelist">
        <div class="loading">
            Searching for {{checkInQuery}}
            <img src="assets/loading.gif">
        </div>
    </ng-container>

    <!-- Search complete -->
    <ng-template #havelist>
        <ng-container *ngIf="userList">

            <!-- No user found -->
            <ng-container *ngIf="userList.length === 0; else yesusers">
                Sorry, we couldn't find {{checkInQuery}} in our system.<br>
                Would you like to <a [routerLink]="['./register']" (click)="goRegister()">Register</a>?
            </ng-container>

            <!-- Users found -->
            <ng-template #yesusers>
                <div class="userlist">
                    <div *ngFor="let user of userList" class="line">
                        <table>
                            <tr>
                                <td>
                                    {{user.firstName}} {{user.lastName}}
                                </td>
                                <td>
                                    <!-- Already checked in -->
                                    <ng-container *ngIf="isCheckedIn(user); else notcheckedin">
                                        <span class="badge badge-secondary">Checked in!</span>
                                    </ng-container>

                                    <!-- Not checked in -->
                                    <ng-template #notcheckedin>
                                        <input type="button" class="btn btn-success" value="Check In" (click)="doCheckIn(user.id)"/>
                                    </ng-template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </ng-template>
</div>
