<div class="container">
    <h1>Contact Us</h1>
    <form (submit)="onSubmit()">
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="contactForm.name">
        </div>

        <!-- Email Name -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contactForm.email">
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="message">Message</label><br>
            <textarea id="message"></textarea>
        </div>

        <input type="submit" value="Send" class="btn btn-success" disabled/>
    </form>
</div>
