<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">247</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#myNavbarCollapse" aria-controls="myNavbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="myNavbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./about']">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./contact']">Contact</a>
            </li>
            <!--
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">Angular</a>
                    <a class="dropdown-item" href="#">React</a>
                    <a class="dropdown-item" href="#">Vue.js</a>
                </div>
            </li>
            -->
        </ul>
    </div>
</nav>
